<?xml version="1.0"?>
<!--
/**
 * Krishinc
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Krishinc Mod
 * @package     Krishinc_ProductOptions
 * @author      Krishinc Core Team
 * @copyright   Copyright (c) 2013 Krishinc (http://www.krishinc.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/app/code/local/Krishinc/ProductOptions/etc/config.xml
-->
<config>
    <frontend>
        <layout>
            <updates>
                <productoptions module="Krishinc_ProductOptions">
                    <file>productoptions.xml</file>
                </productoptions>
            </updates>
        </layout>
        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <krishinc_productoptions>
                        <class>krishinc_productoptions/observer</class>
                        <method>storeAttributes</method>
                    </krishinc_productoptions>
                </observers>
            </catalog_product_collection_load_after>
        </events>
    </frontend>
    <modules>
        <Krishinc_ProductOptions>
            <version>1.0.0</version>
        </Krishinc_ProductOptions>
    </modules>
    <global>
        <helpers>
            <krishinc_productoptions>
                <class>Krishinc_ProductOptions_Helper</class>
            </krishinc_productoptions>
        </helpers>
        <models>
            <krishinc_productoptions>
                <class>Krishinc_ProductOptions_Model</class>
            </krishinc_productoptions>
        </models>
    </global>
</config>