/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Feb, 2016, 3:11:08 PM
    Author     : etech99
*/

.body{
   
}
.conbtainer {
   
}


.header {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 50px
}






.mainhead {
    border-bottom: thin solid hsl(0, 0%, 82%);
    margin-bottom: 2%;
    padding: 50px 0 30px;
}
.logo {
    float: left;
    font-size: 30px;
    font-style: inherit;
       width: 22%;
}  
    

.sectext {
    color: hsl(0, 4%, 47%);
    font-size: 25px;
    padding: 6px 0 0;
}
.menu li{
   display: inline;  
    

    margin-left: 6%;
    margin-top: 93%;
}


.mainbody {
  
   
    margin: 0 auto;
    width: 80%;
}




.box1 {
    float: left;
    width: 33%;

}
.box2 {
    float: right;
    width: 33%;

}


.box3 {
    float: left;
    padding-left: 6px;
    text-align: center;
    width: 33%;
}

.img55 > img {
    margin-left: 4%;
}

.tex3 {
    margin-left: 4%;
}
img {
    height: auto;
   
    width: 96%;
}

.text2 {
    margin-left: 1%;
    text-align: left;
}
.text3 {
    margin-left: 14px;
    text-align: left;
}
.texthead {
    padding-top: 16px;
}

.textmain {
    float: left;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 90%;
}


a#h1 {
    color: hsl(214, 83%, 42%);
    font-size: 25px;
    text-decoration: none;
}







.mainfooter {
    border-top: thin solid hsl(0, 0%, 80%);
    padding-bottom: 25px;
    padding-top: 17px;
}

.a1 {
    clear: both;
}

.header > img {
    margin-left: 20px;
    width: 49px;
}


.menu2{
    display:none;
}
.menu2 > img {
    max-width: 41px;
    width: 19%;
    padding: 11px 0 0 0;
    /* float: left; */
    text-align: right;
}
ul2{
    list-style: none;
}
/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  }
  #nav-trigger span {
   
    color: white;
    cursor: pointer;
    text-transform: uppercase; }
  
   
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }




  nav#nav-main li {
    display: inline-block;
    }
    nav#nav-main li:last-child {
      border-right: none; }
 
nav#nav-main a {
      color: hsl(0, 0%, 80%);
    display: block;
    padding: 16px 30px;
    text-decoration: none;
} 

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {

    position: absolute;
   
    text-align: center;
    background-color: black;}
  nav#nav-mobile li {
    display: block;
   }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-mobile a:hover {
      background-color: gray;
      color: #fff; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
       padding-top: 15px;
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; }
}


@media (min-width:250px) and (max-width:380px){
  .box1 {
        float: left;
        width: 95% !important;
    }
    .box2 {
    float: left;
 
    width:95%  !important;
}
  
.box3 {
    float: left;
 
    width:95%  !important;
}
.img55 > img {
    margin-left: 4%;
}
.tex3 {
    margin-left: 4%;
}
    
.logo {
    font-size: 17px;
    width: 52%;
}
    .sectext {
    font-size: 16px;
    padding: 2px 0 0;
}
    .sectext {
    font-size: 16px;
    padding: 2px 0 0;
}
    .textmain {
        
        font-size: 14px;
        
    }
    a#h1 {
        
        font-size: 19px;
        
    }
  

img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

}
@media (min-width:380px) and (max-width:500px){
    .box1 {
        float: left;
        width: 50% !important;
    }
    .box2 {
    float: left;
 
    width: 50% !important;
}
  
.box3 {
    float: left;
 
    width: 50% !important;
}
    
    
    .menu1{
        display:none;
    }
    .menu2{
        display:block;
    }
    
.menu2 {
    float: right;
    width: 100%;
}
li#n {
    float: left;
    font-size: 13px;
    padding: 18px 0 0 23px;
}
    .line1 {
        float: left;
        width: 50% !important;
    }
    .c {

        font-size: 20px;
        width:44%;
    }

    .b {
        font-size: 18px;
        padding: 2px 0 0;
    }
    .text2 {
        
        font-size: 14px;
        
    }
    a#c {
        
        font-size: 19px;
        
    }
    li.li1 {
    font-size: 15px;
}
li {
    
    padding: 22px 20px 0 0;
}

ul.ful {
    font-size: 14px;
   
}
}